@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,116&display=swap');
@import 'tailwindcss';

@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'NeueMontreal';
  src: url('/fonts/NeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@theme {
  --font-family: 'NeueMontreal', 'Apple Color Emoji', sans-serif;
  --font-title: 'Bagel Fat One', 'NeueMontreal', sans-serif;
  --font-subtitle: 'Kumbh Sans', 'NeueMontreal', sans-serif;
  --color-primary: #1e5ebe;
  --color-primary-dark: #101c38;
  --color-secondary: #f3a71d;
  --color-accent-1: #cbf9ea;
  --color-accent-2: #5995ff;
  --color-paragraph: #1d1d1d;
  --breakpoint-xs: 400px;
  --breakpoint-3xl: 106rem;
}

.banner-back {
  /* Desktop / default gradient */
  background: linear-gradient(
    90deg,
    #8d6111 0%,
    #f6c56b 37.5%,
    #f3a71d 69.23%,
    #926412 99.99%
  );
}

/* Use alternate gradient for md and below (<= 768px) */
@media (max-width: 768px) {
  .banner-back {
    background: linear-gradient(
      182deg,
      #8d6111 -72.81%,
      #f6c56b -10.82%,
      #f3a71d 41.62%,
      #926412 92.46%
    );
  }
}
.carousel-back {
  /* moved gradient center upwards (52.5% horizontally, 30% vertically) */
  background: radial-gradient(
    47.79% 46.89% at 52.5% 50%,
    #ead6a2 0%,
    #ffb839 100%
  );
}
.img-carousel {
  mask-image: linear-gradient(black 80%, transparent);
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-3px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(3px);
  }
}

.animate-shake {
  animation: shake 2s ease-in-out infinite;
}
