---
import { Icon } from 'astro-icon/components';

const icons = [
  {
    name: 'tiktok',
    href: 'https://www.tiktok.com/@monarcagrooming',
  },
  {
    name: 'instagram',
    href: 'https://www.instagram.com/monarca.pets.spa/',
  },
  {
    name: 'facebook',
    href: 'https://www.facebook.com/Grooming.Monarca.spa/',
  },
];
---

<div class="flex justify-center items-center gap-3.5 w-full">
  {
    icons.map((i) => (
      <a
        href={i.href}
        class="p-2 rounded-full flex items-center justify-center bg-primary-dark shrink-0"
      >
        <Icon name={i.name} class={'w-4 h-4  text-white'} />
      </a>
    ))
  }
</div>
